/* You can add global styles to this file, and also import other style files */
:root {
  --c1:   #0D0D0D;   /* negro absoluto */
  --c2:   #73171F;   /* rojo vino oscuro (intenso) */
  --c3:   #D92929;   /* rojo brillante fuerte */
  --c4:   #F27329;   /* naranja intenso */
  --c5:   #F28A2E;   /* naranja un poco más claro */
  --c6:   #F2BC57;   /* dorado cálido */
  --c7:   #F2EFDF;   /* beige apagado */
  --c8:   #F2F2F2;   /* gris muy claro (casi blanco) */
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


